.about-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 70px;
}
.about-img{
    width: 550px;
    
}
.about-us-btn{
    background-color: white;
    color: #1b2b46;
    padding: 7px 20px;
    border: 2px solid #1b2b46;
    border-radius: 25px;
    font-size: 18px;

}
.about-us-btn:hover{
    background-color: #1b2b46;
    color: white;
    border: 2px solid #131e30;
}

@media only screen and (max-width:688px){
    .about-us{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 40px;

    }
    .about-img{
        width: 290px;
        margin-top: 30px;
    }
}